.filters{
    background-color:white;
    height:70px;
    width:100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

button{
    font-size: 18px;
    background-color:#FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: none;
    position: absolute;
    right: 30px;
    top: 10px;
}

button:hover {
    opacity: 0.9;
}
