header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;

}

header .logo {
      background-image: url("../images/logo.png");
      background-repeat: no-repeat;
      display: block;
      height: 100%;
      padding-left: 20px;
}
