.places h1{
    text-align: left:
    font-size: 30px;
    width: 100%;
}

.places article{
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
